# byte-compiled / optimized / DLL files
__pycache__
*.py[cod]

# tests and coverage
*.pytest_cache
.coverage

# database & logs
*.db
*.sqlite3
*.log
project_log.md

# venv
env
venv
.env

# other
.DS_Store
generate_hashed_passwords.py
.flaskenv

# sphinx docs 
_build
_static
_templates

# javascript
package-lock.json
.vscode/symbols.json

apps/static/assets/node_modules
apps/static/assets/yarn.lock
apps/static/assets/.temp

#config
nginx